:root {
  /*Global Colors*/
  --primary-color: #ffffff;
  /*Typography*/
  --main-font-family: "Prata", serif;
  --secondary-font-family: "Whisper", cursive;
  --main-font-size: 14px;
  --line-height: 1.6;
  --primary-font-color: #333;
  /*padding and margin*/
  --primary-margin: 20px;
} 

#calendar-design {
  background: rgba(255, 255, 255);
  border-radius: 6px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  padding: 25px;
  margin-bottom: 20px;
  width:100%;
  font-family: var(--main-font-family);
  color:#363b41;
  text-align: center;
  
}

.calendar_header{
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color:#A39D9E;
  font-size:20px;
}
.calendar_plan {
  margin:20px 0 40px;
}
.cl_plan{
  width:100%;
  height: auto;
  background-image: linear-gradient(-222deg, #a7a840, #cacc6e);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 15px;
  color:#fff;
  border-radius: 5px;
  line-height: 0.8; 
  margin-bottom: 15px;
}

#current-day-title {
  text-decoration: underline;
  font-size: 25px;
  color: var(--primary-color);
  line-height: 0.8;
}

.current-details {
  text-decoration: underline;
  line-height: 0.8;
}
.cl_title {
  font-size: 30px;
  color: var(--primary-color);
  margin-top: 15px;
}

#current-day {
  font-size: 16px;
  color: var(--primary-color);
  line-height: 0.8;
  margin: 15px;
}

.current-day-style {
  font-size: 20px;
  line-height: 1.5;
}
 
.cl_copy{
  font-size:20px;
  margin: 20px 0;
  display: inline-block;
}

h3 {
  font-size: 15px;
}

.calendar_events{
  color:#A39D9E;
}
.ce_title{
  font-size:14px;
}

.event_item{
  margin: 18px 0;
  padding:5px;
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(-222deg, #a7a840, #cacc6e);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    .ei_Dot{
      background-color: #fff;
    }
    .ei_Copy,.ei_Title{
      color:#fff;
    }
  }
}

.week-calendar .day {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1.5px solid #ddd;
  border-radius: 4px;
}

.week-calendar .day.active .ei_Dot {
  background-color: #ffffff;
}

.ei_Dot {
  position: absolute;
  top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 0 50%;
}
